<a href="https://colab.research.google.com/github/taesangeom/SK-T-Academy/blob/main/Coding_Test/04_%EC%A0%95%EB%A0%AC_%EC%BD%94%ED%85%8C%EC%9A%A9%EA%B8%B0%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#정렬

In [ ]:
#코테 정렬은 마지막 1-2줄임

# 주제 : 정렬
# ==> 코테용 vs 실제 대면면접/기본 내용들과 차이점!!!
# 코테용 : 정렬과 관련된 개별적인 알고리즘은 주된 내용을 아님!!
#        ==> 정렬만의 문제는 별로 없음!!!!!
#            맨 마지막의 출력용./ 중간에 필요한 정도
#        ==> 핵심 : 내가 원하는 대로 정렬 규칙을 세팅!!!
#                 + 필요한 자료형을 구성/설정!!!!
#                 (정렬을 하기위한 필요한 정보들을 어떻게 세팅!)
# 실제 대면 면접 : 기본적인 정렬 알고리즘의 차이& 코드 구현!!
#       ==> 파이썬으로 구현하면 10줄 내외!!!!
#       ==> for/index/ 규칙 : 코드의 기본 사항을 체크!!!
#       ==> 알고리즘의 효율성이나 특징!!!
# ----> 수업에서 하는 목적 : 파이썬을 가지고 꼼꼼하게 코드 구현

In [ ]:
#### 파이썬을 가지고 정렬하는  기본 기능 #####
# 파이썬을 가지고 정렬하는 경우 : 크게 2가지 방법!!!!
# 1) 리스트.sort() 메서드 : 원본이 날라감!!!!
# 2) 파이썬 자체의 sorted() 함수 : 원본은 유지가 됨!!!!
#                                  변경된 결과는 따로 할당!!!
# ===> 공통점 : 사용법이 동일!!!!

# **** 중요한 점 ****
# 위의 2가지 기능을 사용할 떄 : 문제에서 요구하는 대로 정렬 기준 작성!!!
# ==> 특별한 정렬에 대한 기준 : lambda 함수로 규칙을 기술!!!!
#      + 코테에서는 문제 상황/조건 각양각색 ==> 연습!!!
# +++ 이러한 정렬을 하기 편한 자료형/값들을 주어진 문제에서
#     어떻게 세팅할지!!!!  자료형/ 자료형의 값들의 구성...etc

In [ ]:
# 정렬 : "기준"을 가지고, 기준에 맞춰서 순서들을 정리!!!
# --> 기준 : 위치, 값의 크기, 알파벳, 문자순, 성적순.....

# 단순 순서상 재배치 : reverse()메서드
# ---> 주의!!!) 값의 크기 기준 X, 단순 위치!!!  -> 원본이 날아감!

a = [15,22,8, 79,10]
a.reverse()
a

[10, 79, 8, 22, 15]

In [ ]:
# 값을 기준으로 정렬 : .sort()메서드
#                      sorted()파이썬 함수

a.sort()   # 원본이 날아감. 직접 원본을 변경
a

[8, 10, 15, 22, 79]

In [ ]:
b=sorted(a) # 원본 유지 -> 할당 필요
b

[8, 10, 15, 22, 79]

In [ ]:
# + option) 값에 대한 정렬 : 오름/ 내림차순
# --> reverse =False : 오름
#     reverse =True  : 내림
# FM적인 방법

In [ ]:
a = [15,22,8, 79,10]
a

[15, 22, 8, 79, 10]

In [ ]:
sorted(a,reverse=True) #A 값 기준 내림차

[79, 22, 15, 10, 8]

In [ ]:
# 정리)
# 포지션을 중심으로 뒤짚기 : reverse()메서드, reversed()함수
# 값을 기준으로 정렬 오름/내림 : reverse파라미터--> sort(), sorted()

In [ ]:
# 목적: 내가 원하는 정렬 기준으로 만들자

str_list=["좋은하루", "good morning", "굿모닝", "niceday"]
str_list

['좋은하루', 'good morning', '굿모닝', 'niceday']

In [ ]:
#참고) 수업 진행을 위해서 원본을 유지하는 sorted함수 계열만 하겠습니다.
#      코드적으로는 동일함!!! .sort()완벽 동일함!!

In [ ]:
sorted(str_list)
# 기본정렬 -> 값 & 오름차순 ********* 영어가 먼저 알파벳순 , 한글은 앞 초성 순 ******* 알파벳은  a>A 소문자가 더 크다

['good morning', 'niceday', '굿모닝', '좋은하루']

In [ ]:
sorted(str_list, reverse=True)

['좋은하루', '굿모닝', 'niceday', 'good morning']

In [ ]:
##################################################
# 원하는 대로 정렬 기준 작성 : key 파라미터 lambda 함수로 기술
##################################################

In [ ]:
# ex) 글자의 앞글자 1개만 가지고 정렬을 하려고 함!!!
#     ==> 그 외의 글자들은 신경을 안 쓸꼐요!!!!(그냥 원본 순서대로)

sorted(str_list, key= lambda x:x[0]) # key가 각 리스트 문자열 하나씩이고, lambda x는 x[0] 앞 한글자만 기준으로 정렬하겠다

['good morning', 'niceday', '굿모닝', '좋은하루']

In [ ]:
# ex) 특이하게 글자의 2번째 글자 1개만 가지고 정렬을 하려고 함!!!
#     ==> 그 외의 글자들은 신경을 안 쓸꼐요!!!!(그냥 원본 순서대로)

# 내가 직접 핸드메이드 필요

sorted(str_list, key= lambda x:x[1])

['niceday', 'good morning', '굿모닝', '좋은하루']

In [ ]:
# ex) 특별하게 글자의 길이순서대로 정렬해주세요!!!
#  --> 이것도 특수 기준 : 내가 직접 만들어야 함!!!

sorted(str_list, key= lambda x:len(x),reverse = False) # 길이 기준임 , 오름내림에 대한 기준지정 가능 -> reverse 는 FM 적인 방법

['굿모닝', '좋은하루', 'niceday', 'good morning']

In [ ]:
#내림차순 AM 적인 방법 : - 부호
#오름차순 : +부호  -> 부호로 기준 기술

# ********* 잘 파악해두어야 함, 나중에 reverse 만으로 컨트롤 어려워 질 수도 있음 , 조건이 여러개, 다른 오름/내림일때 *********

sorted(str_list, key= lambda x: -len(x)) # 내림차순임

['good morning', 'niceday', '좋은하루', '굿모닝']

In [ ]:
# 구체적인 예 : 이름 ,성적 자료에 대한 정렬

zum_list =[("A",0),("B",1),("C",5),("D",3),("E",5)]
zum_list

[('A', 0), ('B', 1), ('C', 5), ('D', 3), ('E', 5)]

In [ ]:
# 그냥 정렬하기
sorted(zum_list)

[('A', 0), ('B', 1), ('C', 5), ('D', 3), ('E', 5)]

In [ ]:
#정렬기준 : 이름 중심으로 정렬하기
sorted(zum_list, key= lambda x:x[0])

[('A', 0), ('B', 1), ('C', 5), ('D', 3), ('E', 5)]

In [ ]:
#정렬기준 : 성적 순 정렬
sorted(zum_list, key= lambda x:x[1]) # x는 개별원소 , 즉 튜플

# 중요 : ****  기준 지정 안 했을 시 동일한 조건이라면 !!원본의 순서를 그대로 유지한다!! ****

[('A', 0), ('B', 1), ('D', 3), ('C', 5), ('E', 5)]

In [ ]:
#성적 제일 높은 애들 앞부터 정렬

sorted(zum_list, key= lambda x:-x[1]) # 성적 내림차순, 동차는 원본순서대로

[('C', 5), ('E', 5), ('D', 3), ('B', 1), ('A', 0)]

In [ ]:
# 조금 더 유사한 값들이 있는 조건 : 이름- 성적
zumsu_list =[
    ("A",0), ("B",5),("AA",3),
    ("C",5), ("B",1),("Z",5),
    ("D",3),("E",5)
]
zumsu_list

[('A', 0),
 ('B', 5),
 ('AA', 3),
 ('C', 5),
 ('B', 1),
 ('Z', 5),
 ('D', 3),
 ('E', 5)]

In [ ]:
# 그냥 정렬 -> 이름 순 오름차순 -> 이름이 같으면?? 아마 성적 기준 오름차순일것 -> 기준대로 다 오름차순으로 일괄정렬
sorted(zumsu_list)

[('A', 0),
 ('AA', 3),
 ('B', 1),
 ('B', 5),
 ('C', 5),
 ('D', 3),
 ('E', 5),
 ('Z', 5)]

In [ ]:
# 명확한 정렬기준 제시
# 1기준 : 이름순 (혹, 이름이 같다면 원본순서대로)

sorted(zumsu_list, key = lambda x:x[0])

[('A', 0),
 ('AA', 3),
 ('B', 5),
 ('B', 1),
 ('C', 5),
 ('D', 3),
 ('E', 5),
 ('Z', 5)]

In [ ]:
# 아무것도 안한 sorted 하고 동일하게
# 1기준: 이름 오름차순
# 2기준: 성적 오름차순

#-> lambda 함수에 기준을 순서대로  작성하는게 기준 순서
# 괄호로 지정/ 괄호에 작성하는 순서대로 기준

sorted(zumsu_list, key = lambda x:(x[0],x[1]))

[('A', 0),
 ('AA', 3),
 ('B', 1),
 ('B', 5),
 ('C', 5),
 ('D', 3),
 ('E', 5),
 ('Z', 5)]

In [ ]:
#보통 섞인 코테 기준
# 1기준: 이름  오름차순
# 2기준 :성적 내림차순
# 3기준: 원본

sorted(zumsu_list, key = lambda x:(x[0],-x[1],x))   # 따로따로 핸들링 가능

[('A', 0),
 ('AA', 3),
 ('B', 5),
 ('B', 1),
 ('C', 5),
 ('D', 3),
 ('E', 5),
 ('Z', 5)]

In [ ]:
sorted_list = sorted(zumsu_list, key=lambda x: x[0][1] if len(x[0]) > 1 else '') # 이는 이름의 두번째 글자 기준, 다만 이름 글자수가 2이상인 것만 두번째 글자 추출

In [ ]:
# 코테용 입장으로 정렬 : 위의 예제들에서  이름/성적 예시!!!
# ==> 가장 기본적인 형식!!!!