<a href="https://colab.research.google.com/github/taesangeom/SK-T-Academy/blob/main/24.08.Python/21_df_groupby.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
### Group by ###
# --> sql에서 하셨던 그 group by와 동일함!@!!!
# --> 기존의 데이터들을 어떻게 묶어서 볼지에 대한 새로운 기준!!!
#     & 여러개의 값들을 묶어서 표현 :집계처리(대표값!!!)
# sql) select avg(zumsu) from data group by class;
# pandas) df.group_by(by="class").agg(집계처리)
#         df.group_by(by="class").집계함수

In [1]:
import pandas as pd
import numpy as np

In [2]:
path='/content/10_phone_data.csv'
data=pd.read_csv(path,sep=",")
data.head()

   index            date  duration  item    month   network network_type
0      0  15/10/14 06:58    34.429  data  2014-11      data         data
1      1  15/10/14 06:58    13.000  call  2014-11  Vodafone       mobile
2      2  15/10/14 14:46    23.000  call  2014-11    Meteor       mobile
3      3  15/10/14 14:48     4.000  call  2014-11     Tesco       mobile
4      4  15/10/14 17:27     4.000  call  2014-11     Tesco       mobile

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 830 entries, 0 to 829
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   index         830 non-null    int64
 1   date          830 non-null    object
 2   duration      830 non-null    float64
 3   item          830 non-null    object
 4   month         830 non-null    object
 5   network       830 non-null    object
 6   network_type  830 non-null    object
dtypes: float64(1), int64(1), object(5)
memory usage: 45.5+ KB

In [4]:
data.loc[:,"item"].value_counts()
# item 컬럼의 유니크한 값들의 종류와 갯수를
# 갯수에 대한 자동 정렬

item
call    388
sms     292
data    150
Name: count, dtype: int64

In [5]:
#duration 컬럼의 최대 사용시간은 얼마인가요
data.loc[:,"duration"].max()

10528.0

In [6]:
data.describe()
# 수치형 컬럼들에 대해 기본적인 정보를 줌, 최대,최소,사분위수

            index      duration
count  830.000000    830.000000
mean   414.500000    117.804036
std    239.744656    444.129560
min      0.000000      1.000000
25%    207.250000      1.000000
50%    414.500000     24.500000
75%    621.750000     55.000000
max    829.000000  10528.000000

In [7]:
# Q) item 항목들 중에서 전화인 call인 경우에 대해서
#    ==> 사용한 시간의 총합을 구해보세요!
#data.loc[data.loc[:,'item']=='call'] 자체가 from 서브쿼리의 역할
# 불리언 인덱싱으로 가자

data.loc[data.loc[:,'item']=='call'].loc[:,'duration'].sum()

92321.0

In [8]:
#month에 대한 종류와 건수 체크

data.loc[:,'month'].value_counts()

month
2014-11    230
2015-01    205
2014-12    157
2015-02    137
2015-03    101
Name: count, dtype: int64

In [11]:
# 주어진 데이터들을 월별값을 기준으로 묶어서 보자
data.groupby(by='month').head()  # unique month 별로 5개 씩 걸림
# 눈으로 안보이지만, DF 으로 생각을 하면 된다.

     index            date  duration  item    month    network network_type
0        0  15/10/14 06:58    34.429  data  2014-11       data         data
1        1  15/10/14 06:58    13.000  call  2014-11   Vodafone       mobile
2        2  15/10/14 14:46    23.000  call  2014-11     Meteor       mobile
3        3  15/10/14 14:48     4.000  call  2014-11      Tesco       mobile
4        4  15/10/14 17:27     4.000  call  2014-11      Tesco       mobile
228    228  13/11/14 06:58    34.429  data  2014-12       data         data
231    231  14/11/14 06:58    34.429  data  2014-12       data         data
232    232  14/11/14 17:24   124.000  call  2014-12  voicemail    voicemail
233    233  14/11/14 17:28     1.000   sms  2014-12   Vodafone       mobile
234    234  15/11/14 06:58    34.429  data  2014-12       data         data
381    381  13/12/14 06:58    34.429  data  2015-01       data         data
386    386  14/12/14 06:58    34.429  data  2015-01       data         data
389    389  15/12/14 06:58    34.429  data  2015-01       data         data
390    390  15/12/14 19:56     1.000   sms  2015-01      Three       mobile
391    391  15/12/14 19:58     1.000   sms  2015-01      Three       mobile
577    577  13/01/15 06:58    34.429  data  2015-02       data         data
586    586  14/01/15 06:58    34.429  data  2015-02       data         data
594    594  15/01/15 06:58    34.429  data  2015-02       data         data
595    595  15/01/15 10:36    28.000  call  2015-02      Three       mobile
596    596  15/01/15 12:23     1.000   sms  2015-02    special      special
729    729  12/02/15 20:15    69.000  call  2015-03   landline     landline
730    730  12/02/15 20:51    86.000  call  2015-03      Tesco       mobile
731    731  13/02/15 06:58    34.429  data  2015-03       data         data
732    732  13/02/15 10:58   451.000  call  2015-03   Vodafone       mobile
733    733  13/02/15 21:13     8.000  call  2015-03   Vodafone       mobile

In [13]:
data.groupby(by="month").groups   # 딕셔너리로 관리중이란걸 알 수 있다.

{'2014-11': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...], '2014-12': [228, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, ...], '2015-01': [381, 386, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, ...], '2015-02': [577, 586, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, ...], '2015-03': [729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753, 754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820, 821, 822, 823, 824, 825, 826, 827, 828, ...]}

In [14]:
data.groupby(by="month").groups.keys()

dict_keys(['2014-11', '2014-12', '2015-01', '2015-02', '2015-03'])

In [15]:
data.loc[:,'month'].unique()

array(['2014-11', '2014-12', '2015-01', '2015-02', '2015-03'],
      dtype=object)

In [18]:
#month 별로 pivot_tabel 이용해서 평균
pd.pivot_table(data,index=['month'],values=['duration'],aggfunc=["mean"]) # type은 DataFrame 이다

               mean
           duration
month
2014-11  115.823657
2014-12   93.260318
2015-01   88.894141
2015-02  113.301453
2015-03  225.251891

In [20]:
data.groupby(by='month').loc[:,'duration'].mean()

AttributeError: 'DataFrameGroupBy' object has no attribute 'loc'

In [21]:
data.groupby(by='month')['duration'].mean()  #type는 Series이다 1차원

month
2014-11    115.823657
2014-12     93.260318
2015-01     88.894141
2015-02    113.301453
2015-03    225.251891
Name: duration, dtype: float64

In [23]:
#item 컬럼의 값중에서 종류가 call 인 경우에 한해서 (전화통화) network 통신사별로 duration 총합을 구해보자
data.loc[data.loc[:,'item']=='call',:].groupby(by='network')["duration"].sum()

network
Meteor        7200.0
Tesco        13828.0
Three        36464.0
Vodafone     14621.0
landline     18433.0
voicemail     1775.0
Name: duration, dtype: float64

In [24]:
# 참고, 묶는 기준이 여러개일 수 있음 -> Manager /Rep , Month/ item 몇건인지 보자
data.groupby(by=['month','item'])['date'].count()

month    item
2014-11  call    107
         data     29
         sms      94
2014-12  call     79
         data     30
         sms      48
2015-01  call     88
         data     31
         sms      86
2015-02  call     67
         data     31
         sms      39
2015-03  call     47
         data     29
         sms      25
Name: date, dtype: int64

In [25]:
data.groupby(by=['month','item']).agg(
    {
        "date":"first",
        "duration":"sum"
    }
)

                        date   duration
month   item
2014-11 call  15/10/14 06:58  25547.000
        data  15/10/14 06:58    998.441
        sms   16/10/14 22:18     94.000
2014-12 call  14/11/14 17:24  13561.000
        data  13/11/14 06:58   1032.870
        sms   14/11/14 17:28     48.000
2015-01 call  15/12/14 20:03  17070.000
        data  13/12/14 06:58   1067.299
        sms   15/12/14 19:56     86.000
2015-02 call  15/01/15 10:36  14416.000
        data  13/01/15 06:58   1067.299
        sms   15/01/15 12:23     39.000
2015-03 call  12/02/15 20:15  21727.000
        data  13/02/15 06:58    998.441
        sms   19/02/15 18:46     25.000