<a href="https://colab.research.google.com/github/taesangeom/SK-T-Academy/blob/main/24.08.Python/24_08_08.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Python 시작

## Python 시작
문서 양식은 주로 markdown 문법 사용

In [2]:
a=200
a

200

# 값 할당
코테에서는 += 이런거 잘 이용하기

In [3]:
n=10

In [4]:
n=n+1 #기존 값에다가 값갱신
n

11

In [ ]:
#파이썬의 멀티할당 -> 주로 코테, 코드가 상당히 간결해짐
#정렬 알고리즘의 기본적인 구현에서 주로 사용됨

#최근 코테의 정렬은 구현 중심

In [7]:
# 예) 두 변수 값 교환
a=10
b=20
print(a,b)

a,b=b,a
print(a,b)

10 20
20 10

# 자료구조

In [ ]:
# 1개의 값 대상 :
#               값의 종류 : 숫자
#                           문자
#                           논리값
#여러개의 값 대상
#   -> 값들을 나열한다. (ㅁ,ㅁ,ㅁ,ㅁ)
#   -> 리스트 [ㅁ,ㅁ,ㅁ] : 가장 대표적, 수정가능
#   -> 튜플 (ㅁ,ㅁ,ㅁ) : 한번 만들면 수정 불가
#   -> set {ㅁ,ㅁ,ㅁ} : 중복제거, 순서 없음 -> 유니크한 값 체크가능 : 자료형 만으로 자동
#   -> dict {key:value, key:value, key:value} : 미니 데이터베이스, 데이터 분석 간혹 등장
#   코테에서는 중요함.코드가 간결하고 빠름.내부에 HashTable 적용, 속도이슈시 딕셔너리 사용

#1000000(사람 백만명)
# ->case1) list: 순서 탐색 필요
# ->case2) dict: key 값만 알면 value 값 산출 가능 (책 뒤에 있는 index 느낌)

#리스트에서 원하는 원소를 찾는 시간의 복잡도 : O(n)
#딕셔너리에서 " : O(1) , 이유: HashTable 알고리즘의 내부화

In [9]:
#예) 반에서 3명의 a,b,c 친구들 존재. 수학점수 : 80,70,95점 총점?

a,b,c=80,70,95
total=a+b+c
print(total)

245

In [ ]:
#Q: 우리,반의 학생이 100명으로 늘어나면?
scores=[90,80,70]
#장점: 변수가 심플 , 단점: 누가 몇점인지 모름

# 해결 -> dict 사용 (단, 동명이인 없음)

In [13]:
# LIST

#기본 구조 : []
#기본 기능 : append 값추가 / insert(어디에,뭐를) 중간에 삽입 / pop 제거 , 위치 중심 (기본값 맨 뒤)
# remove : 값 중심으로 제거 , (중복시, 맨 앞의 1개만 제거)
#파이썬 코테는 리스트의 잡다한 기능들도 섭렵하자
# 코테를 위한 자료구조인 stack 과 queue -> 리스트의 append, pop으로 구현
#-> 탐색 알고리즘 구현 + 최단거리

a_list=[10,20,30,40]
a_list

[10, 20, 30, 40]

In [14]:
a_list.append(50)
a_list

[10, 20, 30, 40, 50]

In [16]:
#값의 종류가 꼭 일치하지 않아도 됨. 그냥 여러개를 묶어둔다.
# 그냥 여러개를 묶어둔다. 이질적인 변수들도 같이 담을 수 있고, 용량이 클 수도 있음.

b_list =[1,2, 22332,"hello", [1,2,3,4]]
b_list[3]

'hello'

In [17]:
b_list.append(100)
b_list

[1, 2, 22332, 'hello', [1, 2, 3, 4], 100]

In [18]:
b_list.insert(2,"aa")
b_list

[1, 2, 'aa', 22332, 'hello', [1, 2, 3, 4], 100]

In [20]:
len(b_list)

7

In [21]:
b_list.pop()
b_list

[1, 2, 'aa', 22332, 'hello', [1, 2, 3, 4]]

In [22]:
b_list.append(3)
b_list.append(3)
b_list

[1, 2, 'aa', 22332, 'hello', [1, 2, 3, 4], 3, 3]

In [23]:
b_list.remove(3)
b_list   #remove는 중복시 앞에 1개만 지운다.

[1, 2, 'aa', 22332, 'hello', [1, 2, 3, 4], 3]

In [24]:
# 여러 개 값들에 대한 접근
#-> 몇번 째 나와 (위치정보)
# 순방향 :0, 양의 정수 , 역방향은 음의 정수 -> 정수 인덱스

# 하나의 값 가져온다 : 정수 인덱스 / 여러개의 값 가져온다 : 슬라이싱
# 중요: 기준이 0 번째이다.
b_list

[1, 2, 'aa', 22332, 'hello', [1, 2, 3, 4], 3]

In [25]:
b_list[-1] #맨 뒤에서 첫번째 원소

3

In [26]:
b_list[0:3] # 인덱스 자리 슬라이싱
# 시작점 에서 끝점 전 까지 : 간격도 설정 가능

[1, 2, 'aa']

In [27]:
b_list[0:5:2]

[1, 'aa', 'hello']

In [28]:
b_list[::] # 자기 자신 리턴

[1, 2, 'aa', 22332, 'hello', [1, 2, 3, 4], 3]

In [29]:
b_list[::-1] # 역순 , reverse 함수도 따로 있음

[3, [1, 2, 3, 4], 'hello', 22332, 'aa', 2, 1]

In [ ]:
b_list[ [1,2,3] ]
# 쌩 파이썬에서는 인덱스 자리에 정수나 슬라이스만 가능, 하지만
#Numpy에서의 array 자료형에서는 위가 가능

In [ ]:
#리스트에 대한 간단한 정리
# 값을 접근하는 방식 : 정수 인덱스, 여러개는 슬라이싱
#기본 적인 동작 : 추가 append,insert / 제거 pop,reomve
# 리스트의 메소드 활용해서 조작한다면 메모리에 바로 반영 -> 재할당이 필요없다
# 코테: 리스트의 잡다한 기능(여러 메서드에 대해 알아놔야 함)

# 연산자

In [ ]:
# 연산자 중에서 나눗셈 주요하게
# / : 몫에 대한 소수나눗셈
# 파이썬의 기본 나눗셈 연산자: 적당히 뒤에서 반올림 -> 수치 연산 중요한 모델링, 모델링 성능
# DL에서는 더욱 긴 자료형 필요 -> tensorflow, pytorch

#코테에서 자주 활용 99건의 데이터 중 10건 단위 처리 -> 코드화 작업 -> DART에서 공시 수집

In [10]:
#파이썬 공식 함수 divmod() -> 입력: 무엇을 무엇으로 나눌지,
# 기능 : 나눗셈을 통해 몫과 나머지 한번에 리턴
divmod(5,3)

(1, 2)

In [11]:
divmod(5,3)[0] #첫번째 값 즉, 몫임 -> 5//3

1

In [12]:
#코테에 적용 -> 멀티 할당 -> for 문에 이용
q,m = divmod(5,3)
print(q,m)

1 2

In [30]:
# 리스트와 거의 유사한 튜플
#-> 조작 불가능 (추가, 제거 X), 그외 값의 접근등은 리스트와 동일
# 바꾸고 싶으면 리스트로 형변환

a_tuple=(1,2,3,4,"hello",100)
a_tuple

(1, 2, 3, 4, 'hello', 100)

In [32]:
a_tuple[:3]

(1, 2, 3)

In [33]:
t= list(a_tuple)
t.append(100)
t

[1, 2, 3, 4, 'hello', 100, 100]

In [ ]:
#문자열 , 1개 -> 문자 / 여러개 : 문자열
# 표기양식 : " ", ' ', """ """, ''' '''
# 자체적인 문장 부호로 사용될 수도 있어 구별을 위해 존재

In [35]:
"hello"[0:3]

'hel'

In [ ]:
' 탐은 "나는 집에 간다" 고 헸다' # 다 문자열

In [ ]:
" 탐은 \"나는 집에 간다\" 고 말했다" #역슬래쉬 \ 사용

In [ ]:
# 나중에 문자열을 좀 더 정확하게, 규칙적으로 사용시
# -> 정규식
# -> 자연어처리 치할 수 없음 데이터 수집을 할 때 , 카카오계열은 코테에 종종 정규식이 나옴(나중 설명)

# 참고: 파이썬에 특별 메소드 : 향후 클래스시간에 구현 할 예정

In [36]:
a="hi"
b="kelly"
a+b

'hikelly'

In [37]:
a=[1,2,3]
b=["a","b","c"]
a+b

[1, 2, 3, 'a', 'b', 'c']

In [38]:
int("1") + int("2")

3

In [ ]:
#요점은 나의 필요에 따라서 형을 왔다갔다 할 수 있어야 한다.

In [39]:
#dict 자료형
#-> 기본 틀 은 여러개의 값들을 모아두는 것 (키:값)을 중심으로
#{키:값, 키:값}
#--> 미니데이터베이스 자료형 중 하나인 것, 코테에서 잘 활용하자
# 간혹 HashTable 에 대한 면접질문 나올 수도 있음

a_list=[1234,5678]
a_list

[1234, 5678]

In [40]:
a_dict={"a":1234, "b":5678}
a_dict

{'a': 1234, 'b': 5678}

In [42]:
a_dict["a"]

1234

In [43]:
type(a_dict)

dict

In [47]:
#dict의 정보구성 : 각기 정보들만 보자
#-> key들만, value 들만

a_dict.keys()

dict_keys(['a', 'b'])

In [46]:
a_dict.values()

dict_values([1234, 5678])

In [ ]:
#한번에 쌍으로 dict 돌리고 싶다면, dict.items()  활용 + for문
# list : enumerate() 함수 활용해서 정수 인덱스 + 값 + for

In [51]:
#set
a_set={1,1,1,2,2,2,3,3,3,4,4,4}
a_set

{1, 2, 3, 4}

In [49]:
list(a_set)

[1, 2, 3, 4]

In [52]:
a_list=[1,1,1,2,2,2,3,3,3]
b_list= list(set(a_list))
b_list

[1, 2, 3]

In [ ]:
#여기까지 기본적인 파이썬의 여러가지 자료형
#코테를 위해서는 프로그램의 골격을 세우는 것 (반복문,조건문)

#조건문

In [53]:
#조건문 if

a=10

if a>0 :
  #위의 조건 만족시
  print("양수")
elif a<0:
  print("음수이다")
else:
  pass #에러발생 방지 위해

양수

#반복문

In [54]:
#for문은 그저 원소들 Rolling 해주는 역할이다.
for i in [1,2,3,4,5]:
  print(i)

1
2
3
4
5

In [56]:
#range 함수 -> range(시작점, 끝점, 간격) -> 연속되거나 규칙적인 여러개의 숫자들
for i in range(1,10,2):# 끝점은 빠짐
  print(i)

1
3
5
7
9

In [60]:
a_list=["a","b","cc",20,30]
a_list

5

In [58]:
for i in a_list:
  print(i)

a
b
cc
20
30

In [59]:
for i in range(0,len(a_list),1):
  print(a_list[i])

a
b
cc
20
30

In [61]:
#두가지 방법 다 활용

#참고) dict 돌려보자

a_dict={"a":1234,"b":2345,"c":3456}
a_dict

{'a': 1234, 'b': 2345, 'c': 3456}

In [62]:
for i in a_dict:  # 키 값 가져옴
  print(i)

a
b
c

In [63]:
for i in a_dict.values():
  print(i)

1234
2345
3456

In [64]:
#키, 값 같이 돌리기
for i in a_dict.items(): #i 에 (키,값) 이 튜플인 상태로 전달됨
  print(i)

('a', 1234)
('b', 2345)
('c', 3456)

In [65]:
for i in a_dict.items(): #i 에 (키,값) 이 튜플인 상태로 전달됨
  print(i[0]) #키 값만

a
b
c

In [67]:
#파이썬의 멀티할당

for k,v in a_dict.items():  # k에는 key, v에는 값이 들어감
  print(k,v)

a 1234
b 2345
c 3456

In [68]:
a_list

['a', 'b', 'cc', 20, 30]

In [69]:
#그럼 리스트는? -> 인덱스 / 값 -> enumerate() 이용 -> (정수index,값)

for i in enumerate(a_list): # i에 (정수index,값)인 튜플로 할당됨
  print(i)

(0, 'a')
(1, 'b')
(2, 'cc')
(3, 20)
(4, 30)

In [70]:
for i in enumerate(a_list): # i에 (정수index,값)인 튜플로 할당됨
  print(i[0],i[1]) # or 멀티할당 이용

0 a
1 b
2 cc
3 20
4 30

In [93]:
#Q) 국어 80, 수학 75, 영어 55, 사회 90 평균출력
scores_dict={"국어":80,"수학":75,"영어":55,"사회":90}
tot=0
for i in scores_dict.values():
  tot+=i
avr=tot/len(scores_dict)
avr
#list 쓴다면 sum(list) 사용

75.0

In [74]:
# 가변입력 받을 때: input() 함수
#입력:키보드

a=input("성적을 입력하세요")
a              # a에 문자열이 할당됨 주의 !! a=int(input("성적입력"))

성적을 입력하세요10

'10'

In [88]:
# Q2) a=["one","two","three","four"] -> ["one1","two2","three3","four4"] 변경

a=["one","two","three","four"]
b=[]
for i in range(1,len(a)+1):
  txt=a[i-1]+str(i)
  b.append(txt)
a=b
a

['one1', 'two2', 'three3', 'four4']

In [94]:
#Q2 다른 방법
a=["one","two","three","four"]

In [97]:
sum = __builtins__.sum #빌트인 함수인 sum을 초기화 (위에서 잘못 오버라이딩 됨)

In [98]:
subject=["국어","수학","영어","과학"]
ss_list=[]
for sub in subject:
  txt=sub+"점수를 입력하세요"
  sco=int(input(txt))
  ss_list.append(sco)

tots=sum(ss_list)/len(subject)
tots

국어점수를 입력하세요1
수학점수를 입력하세요2
영어점수를 입력하세요3
과학점수를 입력하세요4

2.5

In [95]:
###참고 : 파이썬 계열에서 리스트컴프리헨션 많이 사용됨
#리스트에서 for 값을 모으는 기능

[i+"aaa" for i in a]

['oneaaa', 'twoaaa', 'threeaaa', 'fouraaa']

In [99]:
[a[i]+str(i+1) for i in range(len(a))]

['one1', 'two2', 'three3', 'four4']

In [100]:
#리스트필터링
#Q3)a=[1,2,3,4,5] 리스트가 주어졌을 때 [1,3,5] 로 만들어라

#sol1 : 기존 제거할 값에서 규칙이 있냐? yes 규칙: 홀수 or 짝수

a=[1,2,3,4,5]
b=[]
for i in a:
  if i%2==1:
    b.append(i)

b

[1, 3, 5]

In [101]:
[i for i in a if i%2==1] # 리스트컴프리헨션에서 조건문은 뒤로 간다!

[1, 3, 5]

In [102]:
[i*10 for i in a if i%2==1]

[10, 30, 50]