<a href="https://colab.research.google.com/github/taesangeom/SK-T-Academy/blob/main/24.08.Python/24_08_08.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Python 시작

## Python 시작
문서 양식은 주로 markdown 문법 사용

In [2]:
a=200
a

200

# 값 할당
코테에서는 += 이런거 잘 이용하기

In [3]:
n=10

In [4]:
n=n+1 #기존 값에다가 값갱신
n

11

In [ ]:
#파이썬의 멀티할당 -> 주로 코테, 코드가 상당히 간결해짐
#정렬 알고리즘의 기본적인 구현에서 주로 사용됨

#최근 코테의 정렬은 구현 중심

In [7]:
# 예) 두 변수 값 교환
a=10
b=20
print(a,b)

a,b=b,a
print(a,b)

10 20
20 10

# 자료구조

In [ ]:
# 1개의 값 대상 :
#               값의 종류 : 숫자
#                           문자
#                           논리값
#여러개의 값 대상
#   -> 값들을 나열한다. (ㅁ,ㅁ,ㅁ,ㅁ)
#   -> 리스트 [ㅁ,ㅁ,ㅁ] : 가장 대표적, 수정가능
#   -> 튜플 (ㅁ,ㅁ,ㅁ) : 한번 만들면 수정 불가
#   -> set {ㅁ,ㅁ,ㅁ} : 중복제거, 순서 없음 -> 유니크한 값 체크가능 : 자료형 만으로 자동
#   -> dict {key:value, key:value, key:value} : 미니 데이터베이스, 데이터 분석 간혹 등장
#   코테에서는 중요함.코드가 간결하고 빠름.내부에 HashTable 적용, 속도이슈시 딕셔너리 사용

#1000000(사람 백만명)
# ->case1) list: 순서 탐색 필요
# ->case2) dict: key 값만 알면 value 값 산출 가능 (책 뒤에 있는 index 느낌)

#리스트에서 원하는 원소를 찾는 시간의 복잡도 : O(n)
#딕셔너리에서 " : O(1) , 이유: HashTable 알고리즘의 내부화

In [9]:
#예) 반에서 3명의 a,b,c 친구들 존재. 수학점수 : 80,70,95점 총점?

a,b,c=80,70,95
total=a+b+c
print(total)

245

In [ ]:
#Q: 우리,반의 학생이 100명으로 늘어나면?
scores=[90,80,70]
#장점: 변수가 심플 , 단점: 누가 몇점인지 모름

# 해결 -> dict 사용 (단, 동명이인 없음)

In [13]:
# LIST

#기본 구조 : []
#기본 기능 : append 값추가 / insert(어디에,뭐를) 중간에 삽입 / pop 제거 , 위치 중심 (기본값 맨 뒤)
# remove : 값 중심으로 제거 , (중복시, 맨 앞의 1개만 제거)
#파이썬 코테는 리스트의 잡다한 기능들도 섭렵하자
# 코테를 위한 자료구조인 stack 과 queue -> 리스트의 append, pop으로 구현
#-> 탐색 알고리즘 구현 + 최단거리

a_list=[10,20,30,40]
a_list

[10, 20, 30, 40]

In [14]:
a_list.append(50)
a_list

[10, 20, 30, 40, 50]

In [16]:
#값의 종류가 꼭 일치하지 않아도 됨. 그냥 여러개를 묶어둔다.
# 그냥 여러개를 묶어둔다. 이질적인 변수들도 같이 담을 수 있고, 용량이 클 수도 있음.

b_list =[1,2, 22332,"hello", [1,2,3,4]]
b_list[3]

'hello'

In [17]:
b_list.append(100)
b_list

[1, 2, 22332, 'hello', [1, 2, 3, 4], 100]

In [18]:
b_list.insert(2,"aa")
b_list

[1, 2, 'aa', 22332, 'hello', [1, 2, 3, 4], 100]

In [20]:
len(b_list)

7

In [21]:
b_list.pop()
b_list

[1, 2, 'aa', 22332, 'hello', [1, 2, 3, 4]]

In [22]:
b_list.append(3)
b_list.append(3)
b_list

[1, 2, 'aa', 22332, 'hello', [1, 2, 3, 4], 3, 3]

In [23]:
b_list.remove(3)
b_list   #remove는 중복시 앞에 1개만 지운다.

[1, 2, 'aa', 22332, 'hello', [1, 2, 3, 4], 3]

In [24]:
# 여러 개 값들에 대한 접근
#-> 몇번 째 나와 (위치정보)
# 순방향 :0, 양의 정수 , 역방향은 음의 정수 -> 정수 인덱스

# 하나의 값 가져온다 : 정수 인덱스 / 여러개의 값 가져온다 : 슬라이싱
# 중요: 기준이 0 번째이다.
b_list

[1, 2, 'aa', 22332, 'hello', [1, 2, 3, 4], 3]

In [25]:
b_list[-1] #맨 뒤에서 첫번째 원소

3

In [26]:
b_list[0:3] # 인덱스 자리 슬라이싱
# 시작점 에서 끝점 전 까지 : 간격도 설정 가능

[1, 2, 'aa']

In [27]:
b_list[0:5:2]

[1, 'aa', 'hello']

In [28]:
b_list[::] # 자기 자신 리턴

[1, 2, 'aa', 22332, 'hello', [1, 2, 3, 4], 3]

In [29]:
b_list[::-1] # 역순 , reverse 함수도 따로 있음

[3, [1, 2, 3, 4], 'hello', 22332, 'aa', 2, 1]

In [ ]:
b_list[ [1,2,3] ]
# 쌩 파이썬에서는 인덱스 자리에 정수나 슬라이스만 가능, 하지만
#Numpy에서의 array 자료형에서는 위가 가능

In [ ]:
#리스트에 대한 간단한 정리
# 값을 접근하는 방식 : 정수 인덱스, 여러개는 슬라이싱
#기본 적인 동작 : 추가 append,insert / 제거 pop,reomve
# 리스트의 메소드 활용해서 조작한다면 메모리에 바로 반영 -> 재할당이 필요없다
# 코테: 리스트의 잡다한 기능(여러 메서드에 대해 알아놔야 함)

# 연산자

In [ ]:
# 연산자 중에서 나눗셈 주요하게
# / : 몫에 대한 소수나눗셈
# 파이썬의 기본 나눗셈 연산자: 적당히 뒤에서 반올림 -> 수치 연산 중요한 모델링, 모델링 성능
# DL에서는 더욱 긴 자료형 필요 -> tensorflow, pytorch

#코테에서 자주 활용 99건의 데이터 중 10건 단위 처리 -> 코드화 작업 -> DART에서 공시 수집

In [10]:
#파이썬 공식 함수 divmod() -> 입력: 무엇을 무엇으로 나눌지,
# 기능 : 나눗셈을 통해 몫과 나머지 한번에 리턴
divmod(5,3)

(1, 2)

In [11]:
divmod(5,3)[0] #첫번째 값 즉, 몫임 -> 5//3

1

In [12]:
#코테에 적용 -> 멀티 할당 -> for 문에 이용
q,m = divmod(5,3)
print(q,m)

1 2