In [ ]:
#!pip install pymysql
# ==> 터미널에서 관리자 권한으로 pip install pymysql
# ==> 주피터 노트북셀에서 하려면 !pip install pymysql

In [1]:
import pymysql

In [3]:
mysql_con=pymysql.connect(
    user="root", #접속할 mysql 서버에 대한 계정이름
    passwd="terry8624@",
    host="127.0.0.1", # localhost
    db="sqldb",
    charset='utf8'  #데이터에 한글 있을때 파이썬 쪽에서 처리하는 기준
)

In [7]:
my_cursor=mysql_con.cursor(pymysql.cursors.DictCursor)

In [9]:
sql="select * from usertbl;"

In [11]:
my_cursor.execute(sql)

10

In [13]:
result=my_cursor.fetchall()
result

[{'userID': 'BBK',
  'name': '바비킴',
  'birthYear': 1973,
  'addr': '서울',
  'mobile1': '010',
  'mobile2': '0000000',
  'height': 176,
  'mDate': datetime.date(2013, 5, 5)},
 {'userID': 'EJW',
  'name': '은지원',
  'birthYear': 1972,
  'addr': '경북',
  'mobile1': '011',
  'mobile2': '8888888',
  'height': 174,
  'mDate': datetime.date(2014, 3, 3)},
 {'userID': 'JKW',
  'name': '조관우',
  'birthYear': 1965,
  'addr': '경기',
  'mobile1': '018',
  'mobile2': '9999999',
  'height': 172,
  'mDate': datetime.date(2010, 10, 10)},
 {'userID': 'JYP',
  'name': '조용필',
  'birthYear': 1950,
  'addr': '경기',
  'mobile1': '011',
  'mobile2': '4444444',
  'height': 166,
  'mDate': datetime.date(2009, 4, 4)},
 {'userID': 'KBS',
  'name': '김범수',
  'birthYear': 1979,
  'addr': '경남',
  'mobile1': '011',
  'mobile2': '2222222',
  'height': 173,
  'mDate': datetime.date(2012, 4, 4)},
 {'userID': 'KKH',
  'name': '김경호',
  'birthYear': 1971,
  'addr': '전남',
  'mobile1': '019',
  'mobile2': '3333333',
  'height': 177,
  'mDate': datetime.date(2007, 7, 7)},
 {'userID': 'LJB',
  'name': '임재범',
  'birthYear': 1963,
  'addr': '서울',
  'mobile1': '016',
  'mobile2': '6666666',
  'height': 182,
  'mDate': datetime.date(2009, 9, 9)},
 {'userID': 'LSG',
  'name': '이승기',
  'birthYear': 1987,
  'addr': '서울',
  'mobile1': '011',
  'mobile2': '1111111',
  'height': 182,
  'mDate': datetime.date(2008, 8, 8)},
 {'userID': 'SSK',
  'name': '성시경',
  'birthYear': 1979,
  'addr': '서울',
  'mobile1': None,
  'mobile2': None,
  'height': 186,
  'mDate': datetime.date(2013, 12, 12)},
 {'userID': 'YJS',
  'name': '윤종신',
  'birthYear': 1969,
  'addr': '경남',
  'mobile1': None,
  'mobile2': None,
  'height': 170,
  'mDate': datetime.date(2005, 5, 5)}]

In [17]:
type(result)

list

In [19]:
result[0]

{'userID': 'BBK',
 'name': '바비킴',
 'birthYear': 1973,
 'addr': '서울',
 'mobile1': '010',
 'mobile2': '0000000',
 'height': 176,
 'mDate': datetime.date(2013, 5, 5)}

In [21]:
import pandas as pd

In [23]:
result_df=pd.DataFrame(result)
result_df.head()

  userID name  birthYear addr mobile1  mobile2  height       mDate
0    BBK  바비킴       1973   서울     010  0000000     176  2013-05-05
1    EJW  은지원       1972   경북     011  8888888     174  2014-03-03
2    JKW  조관우       1965   경기     018  9999999     172  2010-10-10
3    JYP  조용필       1950   경기     011  4444444     166  2009-04-04
4    KBS  김범수       1979   경남     011  2222222     173  2012-04-04

In [25]:
#mysql 상에서 userID 커럼이 PK 였다고 했을때  -> 같은 역할 Dataframe에서는 가로줄 index
result_df.set_index("userID")

       name  birthYear addr mobile1  mobile2  height       mDate
userID
BBK     바비킴       1973   서울     010  0000000     176  2013-05-05
EJW     은지원       1972   경북     011  8888888     174  2014-03-03
JKW     조관우       1965   경기     018  9999999     172  2010-10-10
JYP     조용필       1950   경기     011  4444444     166  2009-04-04
KBS     김범수       1979   경남     011  2222222     173  2012-04-04
KKH     김경호       1971   전남     019  3333333     177  2007-07-07
LJB     임재범       1963   서울     016  6666666     182  2009-09-09
LSG     이승기       1987   서울     011  1111111     182  2008-08-08
SSK     성시경       1979   서울    None     None     186  2013-12-12
YJS     윤종신       1969   경남    None     None     170  2005-05-05